* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  display: flexbox;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 25%;
  padding: 1rem;
  width: 50%;
  border: 3px solid #93cb52;
  border-radius: 50px;
}

h1 {
  padding: 2rem;
  text-align: center;
  font-size: 4rem;
}

li {
  text-align: center;
  list-style-position: inside;
  font-size: 1.5rem;
}

.bg {
  background: #333;
  color: #fff;
}

.text-primary {
  color: #93cb52;
}

